* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul{
	list-style: none;
}
nav{
	float: right;
}

nav li{
	display: inline;
	padding: 30px;
	text-transform: uppercase;
}

nav ul li a{
	/*display: block;*/
	
}

nav ul li a:hover{
	display: block;
}


/*nav ul li>a{ 
	background-color: grey; 
	color: white; 
	padding: 10px; 
	display: block; 
	text-decoration: none; 
	min-width: 100px;
}

nav ul li>a:hover{ 
	color: #000; 
	background-color: #eaeaea;
}

nav>li{ 
	float: left; 
	text-align:center
}

nav>li>ul{ 
	display: none;
}

nav>li:hover>ul { 
	display:block;
}*/

/*
display: none, al principio
display: block;*/

